<h1 class="text-center text-5xl text-gray-800 py-16">ERP</h1>

<p class="text-center text-gray-800 text-3xl font-semibold">Bienvenido a nuestra plataforma</p>

<div class="text-center w-full my-16">

    <a href="/ejemplo/index" class="font-semibold bg-purple-500 text-white hover:bg-green-700 px-8 py-4 text-center rounded-md mx-auto">Ver ERP</a>

</div>