<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ERP</title>
    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>

    <script>
        jQuery(function($){
            $('#datepicker').datetimepicker({
                dateFormat: "yy-mm-dd",
                showSecond: true,
                timeFormat: "hh:mm:ss"
            });
        });
    </script>
 
  </head>
  <body class="bg-purple-100">

    <nav class="flex py-5 bg-purple-500 text-white px-24">
        <div class="w-1/2 px-12 mr-auto">
            <p class="text-2xl font-bold">ERP</p>
        </div>

        <ul class="w-2/2 px-16 ml-auto flex justify-end pt-1">
            <li class="nav-item px-4">
                <a href="/" class="nav-link font-semibold hover:bg-green-700 py-3 px-4 rounded.md">Pedidos</a>
            </li>
            <li class="nav-item px-4">
                <a href="/" class="nav-link font-semibold border-2 border-white hover:text-purple-700 hover:bg-white-700 py-3 px-4 rounded.md">Punto de Venta</a>
            </li>
        </ul>
    </nav>
    {{{body}}}
  
  </body>
</html>